	<h1> Découvrez votre résultat ! </h1>
	<div>

		<p class=" fs-2 text"><%= @response %></p>
		<p class="text-capitalize fs-2 text">Ton score est de <%= @score_total %></p>
		<p class="text-capitalize fs-2 text">Ton meilleur score est de <%= @best_score %></p>
		<p class="text-capitalize fs-2 text">Tu as déjà joué <%= @number_of_parties %></p>

		<%= link_to "Rejouer", new_path, class: "btn btn-primary"%>
	</div>
